In [9]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
stuff = {
    'weight': [2,4,5,3,6,5,7],
    'price': [35,60,20,50,50,55,60]
}
df = pd.DataFrame(stuff)
df

   weight  price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [31]:
n = len(df)
weight_mean = df["weight"].sum()/n
price_mean = df["price"].sum()/n
print(weight_mean,price_mean)

4.571428571428571 47.142857142857146

In [15]:
N = ((df["weight"] - weight_mean)*(df["price"] - price_mean)).sum()
D = ((df["weight"] - weight_mean)**2).sum()
m = N/D
print(m)

2.620967741935484

In [17]:
c = price_mean - (m*weight_mean)
print(c)

35.16129032258065

In [19]:
predicted_price_at_6 = m*6 + c
print(predicted_price_at_6)

50.88709677419355

In [21]:
df["predicted_price"] = m*df["weight"] + c
df["residual"] = df["price"] - df["predicted_price"]
df

   weight  price  predicted_price   residual
0       2     35        40.403226  -5.403226
1       4     60        45.645161  14.354839
2       5     20        48.266129 -28.266129
3       3     50        43.024194   6.975806
4       6     50        50.887097  -0.887097
5       5     55        48.266129   6.733871
6       7     60        53.508065   6.491935

In [29]:
df['absolute_residual'] = df["residual"].abs()
Calculate_mae = df['absolute_residual'].sum()/n
Calculate_mse = (df['residual']**2).sum()/n
print(Calculate_mae,Calculate_mse)

9.87327188940092 167.30990783410135

In [35]:
output_path = "Linear_Regression_Asif.xlsx"
df.to_excel(output_path,index = "False")